{
	"ecmaFeatures": {
		"arrowFunctions": true,
		"modules": true
	},
	"env": {
		"node": true,
		"es6": true
	},
	"extends": "eslint:recommended",
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "double"],
        "indent": [2, 4]
    }
}
